@font-face {
    font-family: "Golos Text";
    font-style: normal;
    font-weight: 400;
    src: 
         url("/fonts/GolosText-Regular.woff2") format("woff2"),
         url("/fonts/GolosText-Regular.woff") format("woff");
}

@font-face {
    font-family: "Golos Text";
    font-style: normal;
    font-weight: 500;
    src: 
         url("/fonts/GolosText-Medium.woff2") format("woff2"),
         url("/fonts/GolosText-Medium.woff") format("woff");
}
